<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MGHS</title>
    <link rel="icon" href="logo.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
  </head>

  <body style="margin: 0; padding: 0; background-color: #FFF; font-family: Poppins, sans-serif;">
    <center style="width: 100%; table-layout: fixed; background-color: rgba(230, 230, 230, 0.932); padding-bottom: 40px;">
      <div style="max-width: 600px; border-color: #f4f6ff; border-radius: 25px 25px 25px 25px; background-color: #f4f6ff;">
        <table  style="margin: 0 auto; width: 100%; max-width: 600px; border-spacing: 0; color: #ffffff;" align="center">
          <tr>
            <td style="padding: 0;">
              <table width="100%" style="border-spacing: 0">
                <tr>
                  <td
                    style="
                      padding: 0;
                      background-color: #65c122;
                      text-align: center;
                      height: 570px;
                      border-radius: 25px;
                    "
                  >
                    <img src="https://imgur.com/XJsru2C.png" style="padding-top: 50px; border: 0" />
                    <h1  style="font-weight: 700; font-size: 42px; line-height: 66.57px;" id="name">
                      Hi {{ name }},<br />WELCOME to MGHS!
                    </h1>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding: 0;">
              <table
                width="100%"
                style="
                  border-spacing: 0;
                  color: #1d1919;
                  text-align: center;
                  padding-top: 10px;
                  padding-bottom: 50px;
                "
              >
                <tr>
                  <td style="padding: 0;">
                    <h3
                      style="
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 38.04px;
                      "
                    >
                      Another Schedule Invitation (Reminder)

                    </h3>
                    <hr
                      style="
                        width: 106px;
                        text-align: center;
                        background-color: #65c122;
                        margin-top: -30px;
                      "
                    />
                    <hr
                      style="
                        width: 70px;
                        text-align: center;
                        background-color: #65c122;
                      "
                    />
                    <p
                      style="
                        text-align: justify;
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 16px;
                        line-height: 26.4px;
                        letter-spacing: 5%;
                        padding-top: 15px;
                      "
                    >

                    <b>Follow-up:</b> Orientation Schedule Reminder <br><br>

                      <br>Dear Intern,<br>

                      <br>You are hereby being reminded that you are invited to attend our Orientation meeting through Google meet in which 
                      we will be discussing about our Virtual Internship Program 2021 execution and project tasks to be assigned to you.<br>

                      <br>You are hereby invited to attend our Orientation meeting which the details will be sent to you these coming days.<br>

                      <br><b>WHAT: </b>Virtual Internship Program 202X – Orientation ({{ course }})
                      <br><b>WHO: </b> {{ course }} Interns
                      <br><b>WHEN:  </b> {{ date }} - {{ time }} (Philippine Standard Time)
                      <br><b>WHERE: </b> Google Meeting
                      <br><b>LINK: </b> {{ link }}<br>

                      <br>May we also request a few minutes of your time to answer the <a href="https://docs.google.com/forms/d/1FPGBs5c-FXYFlzjfNs0S0RDbqhIW03IvtMml9tBwIyY/viewform?edit_requested=true#response=ACYDBNiWP_hYMKypAsj6gMgAEHQAvmKEbXAlhyOVttKXDbe92LkZF6cF0v16ULCWU2a4bWs">Pre-Screening Form</a> 
                      If you've already responded to the Pre-Screening Form, kindly disregard this instruction.<br>

                       <br> If you have questions or inquiries, do not hesitate to reply to this email and we will try to respond to it as soon as possible.<br>

                       <br> Please reply to this email as soon as possible if you can attend the orientation, and if you are unable to do so, 
                       it will be our signal to assume that you are not going to pursue your internship in MGHS Services. <br>

                       <br>Best regards,<br>
                       <br><b>HR Team, MGHS Services</b><br><br>
                       
                    <p
                      style="
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 16px;
                        line-height: 26.4px;
                        letter-spacing: 5%;
                        padding-bottom: 20px;
                      "
                    >
                      Goodluck and we wish to be working with you soon!
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding: 0;">
              <table width="100%" style="border-spacing: 0">
                <tr>
                  <td
                    style="
                      padding: 0;
                      background-color: #65c122;
                      text-align: center;
                      height: 91px;
                      border-radius: 0px 0px 25px 25px;
                    "
                  >
                    <p
                      style="
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 19.8px;
                      "
                    >
                      If you have any questions, feel free to message us at
                      mghsconsultancy@gmail.com
                    </p>
                    <p
                      style="
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 19.8px;
                      "
                    >
                      All right reserved.
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </body>
</html>
