<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MGHS</title>
    <link rel="icon" href="logo.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
  </head>

  <body style="margin: 0; padding: 0; background-color: #FFF; font-family: Poppins, sans-serif;">
    <center style="width: 100%; table-layout: fixed; background-color: rgba(230, 230, 230, 0.932); padding-bottom: 40px;">
      <div style="max-width: 600px; border-color: #f4f6ff; border-radius: 25px 25px 25px 25px; background-color: #f4f6ff;">
        <table  style="margin: 0 auto; width: 100%; max-width: 600px; border-spacing: 0; color: #ffffff;" align="center">
          <tr>
            <td style="padding: 0;">
              <table width="100%" style="border-spacing: 0">
                <tr>
                  <td
                    style="
                      padding: 0;
                      background-color: #65c122;
                      text-align: center;
                      height: 570px;
                      border-radius: 25px;
                    "
                  >
                    <img src="https://imgur.com/XJsru2C.png" style="padding-top: 50px; border: 0" />
                    <h1  style="font-weight: 700; font-size: 42px; line-height: 66.57px;" id="name">
                      Hi {{ name }},<br />WELCOME to MGHS!
                    </h1>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding: 0;">
              <table
                width="100%"
                style="
                  border-spacing: 0;
                  color: #1d1919;
                  text-align: center;
                  padding-top: 10px;
                  padding-bottom: 50px;
                "
              >
                <tr>
                  <td style="padding: 0;">
                    <h3
                      style="
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 38.04px;
                      "
                    >
                      Pre-Screening Form

                    </h3>
                    <hr
                      style="
                        width: 106px;
                        text-align: center;
                        background-color: #65c122;
                        margin-top: -30px;
                      "
                    />
                    <hr
                      style="
                        width: 70px;
                        text-align: center;
                        background-color: #65c122;
                      "
                    />
                    <p
                      style="
                        text-align: justify;
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 16px;
                        line-height: 26.4px;
                        letter-spacing: 5%;
                        padding-top: 15px;
                      "
                    >

                    Virtual Internship Program Pre-Screening Form {{ course }} <br><br>

                      <br>Dear Internship Applicant,<br>

                      <br>MGHS Services humbly apologizes that it took us some time to entertain your emails and queries sent to us. <br>

                      <br>We appreciate the overwhelming number of applicants who expressed their interest to become part of our company as interns.<br>

                      <br>May we request a few minutes of your time to answer our <a href="https://forms.gle/4DbQWSz4SL5LMj2D9" id="link1">Pre-Screening Form</a>
                      to process your application. If you've responded already to the form, kindly disregard this instruction.<br>
                      <br>Attached herein is our <a href="https://mghs-application-portal.herokuapp.com/uploads/MGHS Services VIP 2022.pdf">Virtual Internship Program</a> and 
                      <a href="https://mghs-application-portal.herokuapp.com/uploads/MGHS Services Business Profile.pdf">Business Profile</a> to know more about the internship program and our company.
                      
                      <br>We are looking forward to having you begin your career with us and wish you a successful internship.<br>

                      <br>If you know other individuals from your institution who are in need of Internship Programs, 
                       MGHS Services is still currently seeking interns for our Virtual Internship Program 2022 from the following courses:<br>

                       <br>&#149; Financial Management
                       <br>&#149; Digital Design, Multimedia Design, and Graphic Artists
                       <br>&#149; Early Childhood Education
                       <br>&#149; Interior Design, Fine Arts, and Architecture
                       <br>&#149; Software Engineer and Web & Mobile App Developer
                       <br>&#149; Hospitality Management, Tourism, and Culinary Arts
                       <br>&#149; Nutrition & Dietics and Food Technology
                       <br>&#149; Public Relations, Advertising, and Marketing
                       <br>&#149; English & Filipino Majors, Journalism, and Communication
                       <br>&#149; Human Resource, Psychology<br>

                       <br> If you have questions or inquiries, do not hesitate to reply to this email and we will try to respond to it as soon as possible.<br><br>
                       <br>Best regards,<br>
                       <br><b>HR Team, MGHS Services</b><br><br>
                       
                    <p
                      style="
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 16px;
                        line-height: 26.4px;
                        letter-spacing: 5%;
                        padding-bottom: 20px;
                      "
                    >
                      Goodluck and we wish to be working with you soon!
                    </p>
                    
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding: 0;">
              <table width="100%" style="border-spacing: 0">
                <tr>
                  <td
                    style="
                      padding: 0;
                      background-color: #65c122;
                      text-align: center;
                      height: 91px;
                      border-radius: 0px 0px 25px 25px;
                    "
                  >
                    <p
                      style="
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 19.8px;
                      "
                    >
                      If you have any questions, feel free to message us at
                      mghsconsultancy@gmail.com
                    </p>
                    <p
                      style="
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 19.8px;
                      "
                    >
                      All right reserved.
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </center>

    <script src="script.js"></script>
  </body>
</html>
