<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MGHS</title>
    <link rel="icon" href="" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
  </head>

  <body style="margin: 0; padding: 0; background-color: #FFF; font-family: Poppins, sans-serif;">
    <center style="width: 100%; table-layout: fixed; background-color: rgba(230, 230, 230, 0.932); padding-bottom: 40px;">
      <div style="max-width: 600px; border-color: #f4f6ff; border-radius: 25px 25px 25px 25px; background-color: #f4f6ff;">
        <table  style="margin: 0 auto; width: 100%; max-width: 600px; border-spacing: 0; color: #ffffff;" align="center">
          <tr>
            <td style="padding: 0;">
              <table width="100%" style="border-spacing: 0">
                <tr>
                  <td
                    style="
                      padding: 0;
                      background-color: #65c122;
                      text-align: center;
                      height: 570px;
                      border-radius: 25px;
                    "
                  >
                    <img src="https://imgur.com/XJsru2C.png" style="padding-top: 50px; border: 0" />
                    <h1  style="font-weight: 700; font-size: 42px; line-height: 66.57px;" id="name">
                      Hi {{ name }},<br />WELCOME to MGHS!
                    </h1>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding: 0;">
              <table
                width="100%"
                style="
                  border-spacing: 0;
                  color: #1d1919;
                  text-align: center;
                  padding-top: 10px;
                  padding-bottom: 50px;
                "
              >
                <tr>
                  <td style="padding: 0;">
                    <h3
                      style="
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 38.04px;
                      "
                    >
                      Applicants' Status and Upcoming Orientation Schedule

                    </h3>
                    <hr
                      style="
                        width: 106px;
                        text-align: center;
                        background-color: #65c122;
                        margin-top: -30px;
                      "
                    />
                    <hr
                      style="
                        width: 70px;
                        text-align: center;
                        background-color: #65c122;
                      "
                    />
                    <p
                      style="
                        text-align: justify;
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 16px;
                        line-height: 26.4px;
                        letter-spacing: 5%;
                        padding-top: 15px;
                      "
                    >

                    <b>SUBJECT:</b> MGHS Services Virtual Internship Program 2022 <br><br>

                      <br>Dear Mr./Ms. {{ surname }},<br>

                      <br>MGHS Services expresses its gratitude as you've answered our Pre-Screening Form. We are pleased to inform 
                      you that you are QUALIFIED for our internship program.<br>

                      <br>You are hereby invited to attend our Orientation meeting which the details will be sent to you these coming days.<br>

                      <br><b>WHAT: </b>Virtual Internship Program 2022 – Orientation
                      <br><b>WHO: </b> {{ course }} Interns
                      <br><b>WHEN:  </b> {{ date }} - {{ time }} (Philippine Standard Time)
                      <br><b>WHERE: </b> Google Meeting
                      <br><b>LINK: </b> {{ link }}<br>

                      <br>Project Tasks and other information will be given too. Most of the projects to be 
                      offered will be more on digital content writing, research, and publishing (related to your field).<br>

                      <br>Please do ensure that all of your requirements are uploaded in the GDrive Folder 
                      you've created through this link as we will be checking on them too.<br>

                      <br>If you wish not to proceed with your internship application with us, kindly reply to this email. 
                      We assure that your shared personal information remains confidential and we will delete those as soon as possible.<br>

                       <br><b>If you have questions or inquiries, do not hesitate to reply to this email</b> and we will try to respond to it as soon as possible.<br>
                       <br>Best regards,<br>
                       <br>First name
                       <br><b>HR Team, MGHS Services</b><br><br>
                       
                    <p
                      style="
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 16px;
                        line-height: 26.4px;
                        letter-spacing: 5%;
                        padding-bottom: 20px;
                      "
                    >
                      Goodluck and we wish to be working with you soon!
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding: 0;">
              <table width="100%" style="border-spacing: 0">
                <tr>
                  <td
                    style="
                      padding: 0;
                      background-color: #65c122;
                      text-align: center;
                      height: 91px;
                      border-radius: 0px 0px 25px 25px;
                    "
                  >
                    <p
                      style="
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 19.8px;
                      "
                    >
                      If you have any questions, feel free to message us at
                      mghsconsultancy@gmail.com
                    </p>
                    <p
                      style="
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 19.8px;
                      "
                    >
                      All right reserved.
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </body>
</html>
